// FONT MIXIN
// --------------------------------|
@mixin font($font-name: $font-family, $size: $text-size, $color: $text-color, $uppercase: normal) {
	font-family: $font-name;
	font-size: $size;
	color: $color;
	text-transform: $uppercase;
}

// BREAKPOINT MIXIN
// --------------------------------|
@mixin bp-min($point) {
	@if $point == mobile {
		@media (min-width: $screen-mobile) { @content; }
	}
	@else if $point == tablet {
		@media (min-width: $screen-tablet) and (min-height: $screen-xxs) { @content; }
	}
	@else if $point == desktop {
		@media (min-width: $screen-desktop) and (min-height: $screen-xxs) { @content; }
	}
}
@mixin bp-max($point) {
	@if $point == mobile {
		@media (max-width: $screen-mobile) { @content; }
	}
	@else if $point == tablet {
		@media (max-width: $screen-tablet - 1) { @content; }
	}
	@else if $point == desktop {
		@media (max-width: $screen-desktop - 1) { @content; }
	}
}

// ANIMATION MIXINS
// --------------------------------|

@mixin animation-fix() { 
  perspective: 1000;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: translateZ(0);

  -moz-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

@mixin animation($animation, $duration, $delay: 0s, $count: infinite, $timing: linear) {
  animation-name: $animation;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $count;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
}