html, body {
	@extend %full-relative;
	padding: 0;
	margin: 0;
	background: $color-background-dark;
}

.page-wrapper {
	position: relative;
	height: 100%;

	.page--home & {
		padding-top: calc(100% + 60px);
	}
}