/* chicago bold
* from http://www.fonts2u.com/chicago-bold.font */
@include declare-font-face('Chicago Bold', 'chicago_bold', bold);

html {
	@include font($font-body, $type-size-mobile, $color-type-body);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

h1 {
	font-size: 2.8rem;

	.header & {
		font-size: 1.5rem;
	}
}

h2 {
	font-size: 2.5rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

h3 {
	font-size: 1.7rem;
}

p {
	font-size: 1.4rem;
}

a {
	font-weight: bold;
	color: $color-type-body;

	&:hover, &:focus, &:active, &:visited {
		outline: 0;
		color: $color-type-body;
	}

	&.navigation-menu__link {
		font-family: $font-heading;
	}
}

li {
	.navigation__menu & {
		font-size: 2rem;
		line-height: 3.5rem;
	}
}

@include bp-min(tablet) {
	html {
		font-size: $type-size-tablet;
	}

	h1 {
		font-size: 3.5rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	p {
		font-size: 1rem;
	}
}

@include bp-min(desktop) {
	html {
		font-size: $type-size-desktop;
	}
}