// -----------------------------------------------------------------|
// BASE COLOURS
// -----------------------------------------------------------------|

$color-white: rgb(255, 255, 255);
$color-gray: rgb(220, 220, 220);
$color-33: #333333;
$color-black: rgb(0, 0, 0);

// -----------------------------------------------------------------|
// THEME COLOURS
// -----------------------------------------------------------------|

$color-slate: #46454b;
$color-blue: #00aabb;
$color-red: #f43530;
$color-beige: #e0e5da;

// -----------------------------------------------------------------|
// STRUCTURAL COLOURS
// -----------------------------------------------------------------|

$color-type-heading: $color-33;
$color-type-body: $color-33;
$color-type-menu: $color-33;
$color-type-alternate: $color-white;

$color-background-menu: $color-white;
$color-background-menu-opened: $color-beige;
$color-background: $color-beige;
$color-background-light: $color-white;
$color-background-dark: $color-slate;

$color-border-menu: $color-33;

