$color-white: rgb(255, 255, 255);
$color-gray: rgb(220, 220, 220);
$color-33: #333333;
$color-black: rgb(0, 0, 0);

$color-type-heading: $color-33;
$color-type-body: $color-33;
$color-type-menu: $color-white;
$color-type-alternate: $color-white;

$color-background: $color-white;
$color-background-dark: $color-33;