$color-white: rgb(255, 255, 255);
$color-gray: rgb(220, 220, 220);
$color-darkgray: #333333;
$color-black: rgb(0, 0, 0);

$color-page: $color-gray;
$color-menu: $color-white;
$color-background-light: $color-gray;
$color-background-dark: $color-darkgray;