// -----------------------------------------------------------------|
// FONT -- FAMILY NAMES
// -----------------------------------------------------------------|

$font-heading: 'Chicago Bold', monospace; //'League Spartan';
$font-body: 'Verdana';

// -----------------------------------------------------------------|
// FONT -- BASE SIZES
// -----------------------------------------------------------------|

$type-size-mobile: 12px;
$type-size-tablet: 15px;
$type-size-desktop: 15px;