.keyboard-options {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2em;

	.key {
		position: relative;
		display: inline-block;
		height: 40px;
	    width: 40px;
	    border: 1px solid $color-33;
	    margin: 0 0.25em;

	    &:before {
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	transform: translate3d(-50%, -50%, 0);
	    	font-size: 1.25rem;
	    }

	    &--left {
	    	box-shadow: -2px 3px 0 2px $color-33;
	    	&:before {
		    	content: '\2190';
		    }
	    }

	    &--down {
	    	box-shadow: 0px 3px 0 2px $color-33;
	    	&:before {
	    		content: '\2193';
		    }
	    }

	    &--right {
	    	box-shadow: 2px 3px 0 2px $color-33;
	    	&:before {
		    	content: '\2192';
		    }
	    }
	}
}