$keysize: 40px;

.keyboard {
	padding: 4em 0;
	width: (3*1.25)*$keysize;

	.key {
		position: relative;
		display: inline-block;
		height: $keysize;
	    width: $keysize;
	    border: 1px solid $color-white;
	    background-color: $color-33;
	    color: $color-white;
	    margin: 0.25em;
	    cursor: pointer;

	    &:before {
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	transform: translate3d(-50%, -50%, 0);
	    	font-size: 1.25rem;
	    }

	    &:after {
	    	content: '';
	    	position: absolute;
	    	top: 100%;
	    	left: -3px;
	    	right: -3px;
	    	border-top: 1px solid transparent;
	    	border-bottom: 5px solid rgba(0,0,0,0.2);
	    }

	    &--up {
	    	display: block;
	    	box-shadow: 0px 3px 0 2px $color-white;
	    	margin: 0.25em auto;

	    	&:before {
	    		content: '\2191';
		    }
		    &:after {
		    	border-left: 3px solid transparent;
		    	border-right: 3px solid transparent;
		    }

	    }

	    &--left {
	    	box-shadow: -2px 3px 0 2px $color-white;
	    	&:before {
		    	content: '\2190';
		    }
		    &:after {
		    	right: -1px;
		    	border-left: 3px solid transparent;
		    }
	    }

	    &--down {
	    	box-shadow: 0px 3px 0 2px $color-white;
	    	&:before {
	    		content: '\2193';
		    }
		    &:after {
		    	border-left: 3px solid transparent;
		    	border-right: 3px solid transparent;
		    }
	    }

	    &--right {
	    	box-shadow: 2px 3px 0 2px $color-white;
	    	&:before {
		    	content: '\2192';
		    }
		    &:after {
		    	left: -1px;
		    	border-right: 3px solid transparent;
		    }
	    }

	    &:active, &.key--pressed {
	    	margin-bottom: -2px;
	    	outline: none;

		    &.key {
		    	&--up {
		    		box-shadow: 0 0 0 2px $color-white;
		    		margin-bottom: 0.25em;
		    	}
			    &--left {
			    	box-shadow: -2px 0 0 2px $color-white;
			    }
			    &--down {
			    	box-shadow: 0 0 0 2px $color-white;
			    }
			    &--right {
			    	box-shadow: 2px 0 0 2px $color-white;
			    }
		    }
	    }
	}
}

@include bp-min(tablet) {
	.keyboard {
		.key {
			border-color: $color-33;
	    	background-color: $color-white;
			color: $color-33;

			&:after {
	    		border-bottom-color: rgba(255,255,255,0.2);
			}

		    &--up {
		    	box-shadow: 0px 3px 0 2px $color-33;
		    }

		    &--left {
		    	box-shadow: -2px 3px 0 2px $color-33;
		    }

		    &--down {
		    	box-shadow: 0px 3px 0 2px $color-33;
		    }

		    &--right {
		    	box-shadow: 2px 3px 0 2px $color-33;
		    }

		    &:active, &.key--pressed {
			    &.key {
				    &--up {
				    	box-shadow: 0px 1px 0 2px $color-33;
				    }

				    &--left {
				    	box-shadow: -2px 1px 0 2px $color-33;
				    }

				    &--down {
				    	box-shadow: 0 1px 0 2px $color-33;
				    }

				    &--right {
				    	box-shadow: 2px 1px 0 2px $color-33;
				    }
			    } 
		    }
		}
	}
}