.skill {
	display: inline-block;
	padding: .25em 1em;
	margin: .25em;
	background: $color-background-dark;
	color: $color-type-alternate;

	&:first-of-type {
		margin-left: 0;
	}

	&:last-of-type {
		margin-right: 0;
	}
}