<div class="panel panel--fixed">
	<section class="section section--index section--full" handle-background default="1" available="5">
		<div class="section__title col-90 col-tablet-60 col-desktop-35 place--right">
			<h1 ng-bind="person.getFullName()"></h1>
			<h3 ng-bind="person.title"></h3>
			<p>Press any key to continue...</p>
			<portfolio-keyboard></portfolio-keyboard>
		</div>
	</section>
</div>
<div class="panel">
	<section class="section section--about section--alternate">
		<div class="section__content">
			<h2 class="place--left col-tablet-40 col-desktop-30">Suspendisse</h2>
			<div class="col-tablet-60 col-desktop-70">
				<div class="summary" ng-bind-html="person.short_description"></div>
				<div class="skills">
					<ul>
						<li ng-repeat="skills in person.skills" ng-bind="skills.name"></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--projects">
		<portfolio-project-list projects="person.getProjects(5)"></portfolio-project-list>
	</section>
	<section class="section section--contact section--alternate">
		<div class="section__content">
			<h2 class="place--left col-tablet-40 col-desktop-30">Morbi blandit</h2>
			<div class="contact col-tablet-60 col-desktop-70">
				<p>
					Ut condimentum odio nunc, nec posuere est varius eu. Fusce quis est elit. Suspendisse placerat ipsum elit, a posuere metus ultrices vitae. Fusce sem orci, condimentum a elit facilisis, semper dignissim magna. Nunc sollicitudin ultrices justo sit amet lobortis.</p>
				<p>
					Donec bibendum, est vel interdum congue, felis metus tincidunt magna, eu pharetra ex mi at turpis.
				</p>
				<dl>
					<div ng-repeat="contact in person.contacts | filter:{category:'!social'}">
						<dt ng-bind="contact.type"></dt>
						<dd ng-bind="contact.value"></dd>
					</div>
				</dl>
			</div>
		</div>
	</section>
</div>