.navigation {
	visibility: none;
	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: 0.5s opacity;
		background: $color-background-menu-opened;
		
		ul {
			@extend %middle-absolute;
		}
		li {
			display: inline;
		}

		.navigation__toggle--opened & {
			bottom: 0;
			opacity: 1;
		}
	}
}