.panel {
	position: relative;	
	min-height: 100%;
	background: $color-background;
	transition: 0.75s margin-top;
	@extend %animation-fix;

	&--fixed {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: 0.5s opacity;

		.header--sticky + .page-wrapper & {
			opacity: 0;
		}

		+ .panel {
			margin-top: 100%;
		}

		.hide-intro & {
			+ .panel {
				margin-top: 0;
			}
		}
	}

	&-wrapper {
		@extend %full-relative;
	}}