.panel {
	@extend %full-relative;

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: 0.5s opacity;

		.header--sticky + .page-wrapper & {
			opacity: 0;
		}

		+.panel {
			margin-top: 100%;
		}
	}

	&-wrapper {
		@extend %full-relative;
	}
}
