.section {
	position: relative;

	&:first-of-type {
		padding-top: 2*$header--size;
	}

	&--full {
		min-height: 100%;
	}

	&--alternate {
		background-color: $color-background-dark;
		color: $color-type-alternate;
	}

	&--index {
		background-image: url('/images/splash--mobile.jpg');
		background-repeat: no-repeat no-repeat;
		background-size: cover;
		background-position: center center;

		h1 {			
			border-bottom: 2px solid $color-type-alternate;
			margin-bottom: 0.25em;
			padding-bottom: 0.25em;
			white-space: nowrap;
		}

		h3 {
			color: $color-type-alternate;
			border-color: $color-type-alternate;	
		}

		.section__title {
			position: absolute;
			top: 60%;
			right: 0;
			transform: translate3d(0, -50%, 0);

			p {
				display: none;

				&:after {
					content: '_';						
					animation-duration: 0.35s;
					animation-name: blink;
					animation-iteration-count: infinite;
						animation-direction: alternate;
				}
			}
		}
	}

	&__content, &__title {
		@extend %clearfix;
		max-width: $content-max-width;
		margin-left: auto;
		margin-right: auto;
		padding: 2em 0;

		h2, h3 {
			vertical-align: bottom;
		}
	}
}

@include bp-max(tablet) {
	.section {
		&--index {
			.section__content {
				padding: 0;
			}
		}

		&__title {
			padding: 2em;

			h1 {
				color: $color-type-alternate;
			}

			h2 {
				border-bottom: 2px solid $color-type-alternate;
				margin-bottom: 0.5em;
				padding-bottom: 0.5em;
			}
		}
	}
}

@include bp-min(tablet) {
	.section {
		padding: 0 2em;

		&:first-of-type {
			padding-top: 2*$header--size;
		}

		&--index {
			transition: .25s background-image;
			background-image: none;

			&[background='1'] {
				background-image: url('/images/splash--1.jpg');
			}

			&[background='2'] {
				background-image: url('/images/splash--2.jpg');
			}

			&[background='3'] {
				background-image: url('/images/splash--3.jpg');
			}

			&[background='4'] {
				background-image: url('/images/splash--4.jpg');
			}

			&[background='5'] {
				background-image: url('/images/splash--5.jpg');
			}

			.section__title {
				top: 50%;

				h1, h3 {
					color: $color-type-heading;
					border-color: $color-type-heading;	
				}
			}
		}
	}
}