.section {
	position: relative;
	padding: 0 2em;

	&--full {
		min-height: 100%;
	}

	&--index {
		background-image: url('/images/work-mobile.jpg');
		background-repeat: no-repeat no-repeat;
		background-size: cover;
		background-position: center center;
		color: $color-darkgray;

		.section {
			&__background--mobile {
				position: fixed;
				top: 0;
				height: 100%;
				left: 0;
				right: 0;
				background-image: url('/images/index--mobile.jpg');
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center bottom;
			}
			&__content {
				position: absolute;
				top: 50%;
				right: 10%;
				transform: translate3d(0, -50%, 0);

				h1 {
					font-size: 3em;
				}

				h3 {
					font-size: 1.5em;
					margin-bottom: 1em;
				}

				p {
					display: none;

					&:after {
						content: '_';						
						animation-duration: 0.35s;
						animation-name: blink;
						animation-iteration-count: infinite;
  						animation-direction: alternate;
					}
				}
			}
		}
	}
}

@include bp-min(tablet) {
	.section {
		&--index {
			background-image: url('/images/work.jpg');
		}

		&__content {
			h2 {
				padding: 1em;
				margin-right: 1em;
				border-right: 1px solid $color-white;
			}

			.summary, .contact {
				display: inline-block;
			}
		}
	}
}