<nav class="navigation">
	<div class="navigation__menu place--on-top-1">
		<a class="navigation__toggle hamburger place--right">
			<div class="hamburger__icon">
				<div class="cross-top"></div>
				<div class="cross-bottom"></div>
			</div>
		</a>
		<ul class="align--right">
			<li ng-repeat="menu_item in menu | orderBy:'-priority'">
				<a ng-href="{{menu_item.url}}" class="navigation-menu__link" ng-bind="menu_item.title"></a>
			</li>
		</ul>
		<div class="navigation__content col-90 col-tablet-50">
			<h2>Hello.</h2>
			<p>This new design on my portfolio (work in progress- always in progress) was done on a bit of a whim to show off some of my skills. Angular, CSS, the lot.</p>
			<p>But mostly to highlight an awful joke after I found some truly inspirational stock photography.</p>
			<p>Check it out <a href="http://www.github.com/ronniefcodes/portfolio" target="_blank">here</a>, if you'd like.</p>
			<p>Or get in touch.</p>
			<dl class="social-list">
				<div ng-repeat="contact in person.contacts | filter:{type:'!github'}">
					<dt ng-bind="contact.type"></dt>
					<dd><a ng-href="contact.getLink()" ng-class="social--{{contact.type}}" target="_blank" ng-bind="contact.value"></a></dd>
				</div>
			</dl>
		</div>
	</div>
</nav>