<div class="project-list">
	<a class="project" ng-class="project.active_media.is_mobile !== true ? 'project--wide' : ''" ng-href="/projects/{{project.link}}" ng-repeat="project in person.getAllProjects()">
		<div class="project__content" ng-switch on="project.active_media">
			<div class="project__summary" ng-switch-when="undefined">
				<h3 ng-bind="project.title"></h3>
			</div>
			<img class="project__image" ng-switch-default ng-src="{{project.active_media.url}}" alt="{{project.active_media.alt}}" />
		</div>
	</a>
</div>